/* ------------------ Header for BD Bootstrap Barrio ------------------ */
.header {
  .menu--main {
    h2 {
      display: none;
    }
  }

  .site-branding {
    margin: $global-padding 0;
  }

  @media #{$mobile-isolate} {
      .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
      .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
          margin-left: 0;
          float: none;
      }
  }

  @media #{$tablet-isolate} {
      .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
      .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
          margin-left: 0;
          float: none;
      }
  }

  @media #{$wide} {
    .navbar .container {
      display: block;

      .justify-content-end {
        justify-content: flex-start !important;
      }
    }
  }
}
