// Navbar nav overrides
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar {
  padding: 0;

  .navbar-toggler {
    margin: $global-padding;
    font-size: $h6-font-size;
  }
}

.navbar-nav {
  margin-left: 0;

  .nav-link {
    padding: 0;
    font-size: $h6-font-size;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.menu--main {
  &.block {}

  .navbar-nav {
    .nav-link {

      &:hover,
      &:focus {}

      span {}
    }
  }
}

.dropdown-menu {
  .dropdown-item {
    a {
      &:hover,
      &:focus {}
    }
  }
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {}
