/**
 * Search results.
 ============================================================================ */

.item-list--search-results {}

.view-header, .view__collection-count {}

.search-results {}

.facets-widget-links {}

.facet-item {}


// Search views List/Grid
.view-list,
.view-grid {
  .node__details {}
}

.view-list {
  .node__content {}
}


.view-grid .search-results__content {
  @media #{$tablet} {}
}

// Homepage, Browse Content Teaser
.path-frontpage,
.path-browse-collections {
  .view-list .node__details {}
}

.path-browse-collections {
  .search-results__header .sort__container {}
}
