/**
 * @file
 * The visual styles for BD Bootstrap Barrio's search form(s).
 */

 /**
  * Search forms
  * - search block form
  * - advanced search form
  ============================================================================ */

 .block.block-views-exposed-filter-blocksolr-search-content-page-1,
 .search-block-form__form {
   padding: ($global-padding *5) 0;
   margin: auto;

   @media #{$wide} {
     max-width: 50%;
   }

   label {
     @include visually-hidden;
   }

   .form-row {
     display: flex;
     flex-wrap: nowrap;
     box-shadow: $button-box-shadow;

     .js-form-item {
       float: none;
       margin: 0;
       padding: 0;
       width: 100%

     }
   }

   .form-control {
     height: 100%;
   }

  .form-type-search,
  .form-actions {
     display: inline;
     margin: 0;
     padding: 0;
   }

  .form-search {
     width: 100%;
   }

   .form-actions {
     .form-submit {
       border-radius: 0;
       margin: 0;
     }
   }

   // The contextual links trigger can obscure the search submit input.
   .contextual-render-processed {
     //display: none;
     top: 2px;
     // #{$flow-to}: 2em;
   }

   // Style placeholders.
   ::-webkit-input-placeholder {
     color: $border-color;
     opacity: 0.75;
   }
   :-moz-placeholder {
     color: $border-color;
     opacity: 0.75;
   }
   ::-moz-placeholder {
     color: $border-color;
     opacity: 0.75;
   }
   :-ms-input-placeholder {
     color: $border-color;
     opacity: 0.75;
   }
 }


 // Search Page form.
 .search-page-form {}

 // Basic search.
 .search-basic {
   display: block;

   label {
     display: block;
     margin: 0 0 $xx-small;
   }

   .form-type-search,
   .form-search {
     display: block;
     width: 100%;
     margin: $xx-small 0;
   }
 }

 // Advanced search.
 .search-advanced {
   .details-wrapper {
     // Hide visually redundant legends. This must be very specific so as not to
     // remove required legends as well, hence the child selectors and
     // over-specification.
     > fieldset > legend {
       @include visually-hidden;
     }
   }

   .form-text {
     min-width: 75%;
   }

   .form-item,
   .form-radios,
   .form-checkboxes {
     margin-bottom: $xx-small;
   }
 }


 .search-help-link {

   &:before {
     // font-family: $icon-font;
     // content: $help-icon;
     padding: 0;
     margin: 0;
     text-align: center;
     width: $medium;

     // Wait for FontAwesome to load.
     display: none;
     .fa-loaded & {
       display: inline-block;
     }
   }
 }
